@import "../../../Sass/Global.scss";
.payment {
  margin-top: 1rem;
  background: url("../../../Images/Background/bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  & .inner-payment {
    width: 60%;
    padding: 5rem 0 4rem 1rem;
    & .paragraph {
      margin-left: -5rem !important;
    }
    @include medium {
      width: auto;
    }
  }
}
