@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import './Variable';
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    height: 200vh;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}