$after-color: #19b5fe;
$black: #000;
$white: #fff;
$button: #2980b9;
$nav-link: #151515;
$tabletwidth: 1022px;
$mediumdevice: 786px;
$smalldevice:560px;

@mixin flex {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@mixin tablet {
  @media (max-width: $tabletwidth) {
    @content;
  }
}
@mixin medium {
    @media (max-width:$mediumdevice) {
        @content;
    }
}

@mixin small {
  @media (max-width:$smalldevice) {
    @content;
  }
}