.para {
  width: 80%;
  margin: auto;
}
.para-bold {
  font-weight: 700;
}
.para-none {
  font-weight: 500;
}
.para-big {
  font-size: 1.4rem;
}
.para-small {
  font-size: 1.1rem;
}
.blackcolor {
  color: #000;
}
.whitecolor {
  color: #fff;
}

.aligncenter {
  text-align: center;
  margin-bottom: 3rem;
}
.alignleft {
  text-align: left;
  margin-bottom: 3rem;
}
