@import '../../../Sass/Global.scss';
.head{
    font-family: 'Montserrat';
    text-align: center;
}
.head-Big{
font-size: 3rem;
}
.head-medium{
font-size: 2.3rem;
}
.head-small{
font-size: 1.5rem;
}
.head-black{

}
.head-white{

}