@import '../../../Sass/Global.scss';
.first-section{
    padding-top: 7rem;
    padding-bottom: 10rem;
    & .first-content{
        margin: 0 5.5rem;
        @include medium{
            margin: 0.5rem;
        }
    }
}